body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: #163a7c;
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #18253f;
  padding: 0 3vw;
  height: 40px;
}

.left,
.right {
  display: flex;
  gap: 5vw;
}

.year,
.middle {
  font-weight: bolder;
}

.globe {
  width: 100%;
  height: 100%;
}

.no-match {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  color: rgb(216, 202, 209);
  margin-top: 50px;
  font-size: larger;
  margin-bottom: 150px;
}

.home-heading {
  background-color: #335496;
  padding: 2px;
  margin: 0;
  color: #fff;
  width: 100%;
  text-align: center;
}

.h-heading {
  box-sizing: border-box;
  text-decoration: underline;
  padding-bottom: 10px;
  font-size: 1rem;
  width: 100%;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
}

.home-container a {
  text-decoration: none;
}

.sticky-inputs {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  top: 40px;
  z-index: 2;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3px;
  width: 100%;
  margin: 0;
  background-color: #2a4988;
}

.search-down {
  display: flex;
  margin: 0;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.search-field {
  background-color: transparent;
  color: white;
  border: none;
  height: 30px;
  padding: 0 10px;
  font-size: 1rem;
}

.search-field:focus {
  outline: none;
}

.search-container > * {
  box-sizing: border-box;
  width: 50%;
}

::placeholder {
  color: #fff;
}

.search-text {
  color: #fff;
}

.gray1 {
  background-color: #4164a6;
}

.gray2 {
  background-color: #335496;
}

.home-country-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  width: 50%;
  height: 50vw;
  text-align: right;
  padding: 10px;
  color: #fff;
}

.globe-icon-container {
  box-sizing: border-box;
  width: 50%;
  height: 50vw;
  padding: 10px;
  color: #fff;
  background-color: #4164a6;
  font-size: 10rem;
}

.world-wide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  height: 50vw;
  padding: 10px;
  color: #fff;
  background-color: #4164a6;
  font-size: 1.5rem;
}

/* .world-wide > * {
  word-break: break-all;
} */

.flag {
  width: 60px;
  height: 60px;
  position: relative;
  left: calc(-150%);
  top: 0;
  border-radius: 100%;
  opacity: 0.7;
}

.country-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.arrow {
  display: inline-block;
  border: 0.5px solid #fff;
  color: #fff;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  border-radius: 100%;
}

.home-country-card .arrow {
  position: absolute;
}

.fa-arrow {
  font-size: 0.7rem;
  line-height: 50px;
}

.name-cases {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bolder;
  margin-bottom: 5px;
}

.name,
.cases {
  max-width: 100%;
}

.country-header {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  background-color: #4164a6;
}

.counry-page-name {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.break-down {
  background-color: #2a4988;
  display: block;
  text-align: center;
  padding: 10px 0;
}

.country-table {
  color: white;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}

.country-table .table-row {
  padding: 0 5px;
  border: none;
  height: 50px;
}

.country-table .table-row td {
  padding: 0 5px;
  border: none;
}

.country-table .table-row td:nth-child(2) {
  text-align: right;
}

.coutry-tbody tr:nth-child(odd) {
  background-color: #335496;
}

.coutry-tbody tr:nth-child(even) {
  background-color: #4164a6;
}

.region-data-container-link {
  text-decoration: none;
  color: #fff;
}

.world-wide-country {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.region-data-container {
  display: flex;
  justify-content: space-between;
  padding: 1vw 3vw;
}

.not-available {
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.regions-container a:nth-child(odd) > div {
  background-color: #335496;
}

.regions-container a:nth-child(even) > div {
  background-color: #4164a6;
}

.inner-region-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.source {
  position: relative;
  bottom: -0;
  padding: 1vw 2vw;
  text-align: center;
  margin: auto;
}

.footer {
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.footer-text {
  background-color: #18253f;
  padding: 0 3vw;
  height: 40px;
  margin: 0;
  line-height: 40px;
}

@media screen and (min-width: 755px) {
  body {
    color: red;
  }
}
